/* Body */
body {
    font-family: 'Russo One',sans-serif!important;
    background: #eee;
    color: #525661;
}

/* Navbar & Menu */
.navbar {
    background-color: rgba(0,0,0,.8);
}

.navbar .navbar-brand {
    font-family: 'Russo One',sans-serif!important;
    font-weight: 100!important;
    line-height: 1.1!important;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.navbar-toggler {
    color: #fff;
}

.navbar .nav-item {
    font-family: 'Russo One',sans-serif!important;
    color: #fff;
}

.navbar .nav-item .nav-link {
    font-family: 'Russo One',sans-serif!important;
    color: #fff;
}

.navbar ul li.active .nav-link {
    color: #4CAF50;
    border-bottom: 5px solid #4CAF50;
}

.navbar ul li.active .nav-link:hover {
    color: #66bc69;
    border-bottom: 5px solid #4CAF50;
}

.navbar ul li.special .nav-link {
    color: #fff;
    background-color: #4CAF50;
    border-top: 5px solid #4CAF50;
}

.navbar ul li.special .nav-link:hover {
    color: #fff;
    background-color: #66bc69;
    border-top: 5px solid #4CAF50;
}

.navbar .nav-item .nav-link:hover {
    color: #4CAF50;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
}

/* Home page header */
.main-header {
    height: 100vh;
    min-height: 100px;
    background: linear-gradient(180deg,rgba(0,0,0,0.6978992280505952) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%),url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid #4CAF50;
}

.main-header .main-font-big {
    font-size: 8rem!important;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 600!important;
    line-height: 1.1!important;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.gradient-text {
    font-size: 8rem!important;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 600!important;
    line-height: 1.1!important;
    background-color: #08ff28;
    background-image: linear-gradient(45deg, #08ff28, #08ffd6);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-header .main-font-small {
    font-size: 30px;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 300;
    color: #fff;
}

.main-header .alert-success {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-bottom-color: #4caf50;
    border-bottom: 4px solid rgba(0,0,0,0.1)!important;
    border-radius: 8px;
    cursor: pointer;
}

.main-header .button-glow {
    animation: glowing 2.5s infinite;
}

.main-header .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.main-header .pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

.main-header h4 {
    margin: 0;
}

.main-header .serverIP small {
    font-size: 45%;
}

@media screen and (max-width: 768px){
    .main-header .main-font-big {
        font-size: 3rem!important;
    }

    .main-header .main-font-small {
        font-size: 1.5rem!important;
    }

    .server-status {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px){
    .server-status {
        max-width: max-content;
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #4CAF50;
    }

    40% {
        box-shadow: 0 0 20px #4CAF50;
    }

    60% {
        box-shadow: 0 0 20px #4CAF50;
    }

    100% {
        box-shadow: 0 0 -10px #4CAF50;
    }
}

/* Homa page - Text/Info session */
.main-session-info {
    padding: 90px 0;
    background: #eee;
    color: #525661;
}

.main-session-info .session-info-img {
    width: 100%;
}

.main-session-info .session-info-title {
    font-size: 40px;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 300;
    color: #fff;
    border-bottom: 5px solid #4CAF50;
}

.main-session-info .session-info-text {
    font-size: 100%;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 150;
    color: #fff;
}

.btn-primary {
    color: #fff!important;
    background-color: #4CAF50!important;
    border-color: #4CAF50!important;
    border-bottom: 4px solid rgba(0,0,0,0.1)!important;
}

.btn-primary:hover {
    color: #fff!important;
    background-color: #525661!important;
    border-color: #525661!important;
}

/* Others Pages header - Blank Page */
.page-header {
    height: 30vh;
    min-height: 350px;
    background: linear-gradient(180deg,rgba(0,0,0,0.6978992280505952) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%),url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid #4CAF50;
}

.page-header .page-font-big {
    font-size: 4rem!important;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 300!important;
    line-height: 1.1!important;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.page-header .page-font-small {
    font-size: 20px;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 150;
    color: #fff;
}

.section-text-page {
    padding: 90px 0;
    background: #eee;
    color: #525661;
}

.section-text-page .session-info-img {
    width: 100%;
}

.section-text-page .session-info-title {
    font-size: 40px;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 300;
    color: #fff;
    border-bottom: 5px solid #4CAF50;
}

.section-text-page .session-info-text {
    font-size: 100%;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 150;
    color: #fff;
}

/* Footer */
.main-footer {
    color: #fff;
    background-color: #222;
    padding: 1.5rem;
}

.main-footer h4 {
    font-family: 'Russo One',sans-serif!important;
    font-weight: 100!important;
    line-height: 1.1!important;
    color: #fff;
    border-bottom: 5px solid #4CAF50;
}

.main-footer-partners {
    color: #fff;
    background-color: #101010;
    padding: 1.5rem;
}

.main-footer-partners h4 {
    font-family: 'Russo One',sans-serif!important;
    font-weight: 100!important;
    line-height: 1.1!important;
    color: #fff;
    border-bottom: 5px solid #4CAF50;
}

.main-footer-partners .footer-partners {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 100%;
}

.main-footer-partners .footer-partners:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 100%;
}

.copyright {
    color: #fff;
    background-color: #010101;
    padding: 1rem;
    text-align: center;
}

.copyright a {
    color: #4CAF50;
}

.copyright a:hover {
    color: #66bc69;
}

.copyright1 {
    color: #fff;
    background-color: #010101;
    padding: 1rem;
    text-align: center;
}

.copyright1 a {
    color: #4CAF50;
}

.copyright1 a:hover {
    color: #66bc69;
}

ul.footer-links li a {
    color: #fff;
}

ul.footer-links li a:hover {
    color: #66bc69;
}

.footer-partners {
    width: 100%;
}

/* Notification */
.notification {
    background-color: #4CAF50;
    color: #fff!important;
    text-decoration: none;
    padding: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0,64,128,.05)!important;
}

.notification .badge {
    position: absolute;
    top: -2px;
    right: -1px;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,64,128,.05)!important;
    color: #4CAF50!important;
}

#notification a img {
    width: 100%;
    height: auto;
}

.ads-card a {
    text-decoration: none;
    color: #525661;
}

.ads-card a:hover {
    text-decoration: none;
    color: #525661;
}

.main-img-left {
    width: 100%;
    border: 14px solid #4CAF50;
    transform: rotate(-2deg);
    box-shadow: -0.5ex 0.5ex 4px #eee, 0.5em -0.5ex 2px #ddd;
    border-radius: 4px!important;
}

.main-img-right {
    width: 100%;
    border: 14px solid #4CAF50;
    transform: rotate(2deg);
    box-shadow: -0.5ex 0.5ex 4px #eee, 0.5em -0.5ex 2px #ddd;
    border-radius: 4px!important;
}

.session-img-sb {
    padding: 5rem;
    background: linear-gradient(180deg,rgba(0,0,0,0.6978992280505952) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%),url('../images/sessions-sb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.session-img-rc {
    padding: 5rem;
    background: linear-gradient(180deg,rgba(0,0,0,0.6978992280505952) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%),url('../images/sessions-rc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.session-img {
    padding: 5rem;
    background: linear-gradient(180deg,rgba(0,0,0,0.6978992280505952) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%),url('../images/sessions-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #010101;
}

::-webkit-scrollbar-thumb {
    background: #4CAF50;
}

::-webkit-scrollbar-thumb:hover {
    background: #66bc69;
}

/* Carousel CSS */
.carousel-multi-item .controls-top {
    text-align: center;
    margin-bottom: 1.88rem;
}

.carousel-multi-item .controls-top .btn-floating {
    background: #4CAF50;
}

a.waves-effect,
a.waves-light {
    display: inline-block;
}

.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
}

.btn-floating {
    vertical-align: middle;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

.btn-floating svg {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

.carousel-multi-item .carousel-indicators {
    margin-bottom: -2em;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #4CAF50;
    margin-bottom: -3.75rem;
}

.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

.carousel-multi-item .carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #4CAF50;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Additional styles */
.h1,
h1 {
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 900;
}

.multiple-shadow {
    text-shadow: -0.5ex 0.5ex 4px #eee, 0.5em -0.5ex 2px #ddd;
}

.text-green {
    color: #4CAF50!important;
    font-weight: 900;
    text-transform: uppercase;
}

.title-h3 {
    max-width: fit-content;
    border-bottom: 5px solid #4CAF50;
    content: "";
}

.title-h3-center::after {
    width: 50%;
    height: 5px;
    background-color: #4CAF50;
    position: absolute;
    left: 25%;
    z-index: 1;
    content: '';
}

.bg-light {
    background: #fff!important;
    padding: 150px 0!important;
}

.bg-light-small {
    background: #fff!important;
    padding: 50px 0!important;
}

.blink-off {
    animation: blinker 2s linear infinite;
    color: #fff;
}

.badge-danger {
    color: #fff;
    background-color: #e74c3c;
    padding: 15px 25px;
    border-radius: 25px;
}

.badge-success {
    color: #fff;
    background-color: #4CAF50;
    padding: 15px 25px;
    border-radius: 25px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f9f9f9;
    opacity: 1;
}

.form-control {
    color: #495057;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    padding: 30px 10px!important;
    font-size: 25px;
    border-bottom: 4px solid rgba(0,0,0,0.1)!important;
}

.form-control:focus {
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    box-shadow: none!important;
}

@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

#blink7 {
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 3.2s linear infinite;
    animation: pulsate 3.2s linear infinite;
}